/*----------  variables
------------------------------------------------------------------------------*/

// Colors
$red: #ff6666;
$blue: #0099cc;
$brown: #666633;
$green: #99cc66;
$yellow: #ffff66;
$violet: #cc33ff;
$btn-color: #99cc33;
$bg-modal: #333333;
$gray: #cccccc;